<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <style>
        body {
          background-color: ghostwhite;
        }
        h1 {
          color: darkslategray;
        }
        h2 {
            color: darkkhaki
        }
    </style>
  </head>
  <body>
    <h1>To-Do List App</h1>
    <form action="/quotes" method="POST">
      <input type="text" placeholder="Add new item" name="title" />
      <button type="add">Add</button>
    </form>
    <h2>To-Do List</h2>
    <ul class="toDoItems">
      <% for(var i = 0; i < toDo.length; i++) {%>
      <li class="item">
        <span><%= toDo[i].title %></span>
        <div><button type="edit">Edit</button>
        <button type="delete">Delete</button>
      </div>
      </li>
      <% } %>
    </ul>
  </body>
</html>
