<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>To Do List</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="css/images/favicon.ico" />
  </head>

  <body>
    <div class="box" id="heading">
      <h1>To-Do List</h1>
    </div>
    <div class="box">
      <% for (var i=0; i<newItem.length; i++) { %>
        <% if (newItem[i]._id != id) { %>
          <div class="item">
            <input type="checkbox">
            <p><%= newItem[i].title %></p>
          </div>
        <% } else { %>
          <form class="item" action="/home/update" method="POST">
            <input type="text" placeholder="<%= newItem[i].title %>" name="title" autocomplete="off">
            <form action="/home/update" method="POST" class="button">
              <input type="hidden" name="id" value='<%= newItem[i]._id %>''>
              <input type="hidden" name="edited" value="1">
              <button type="submit" class ="update">✔️</button>
              <form action="/home" method="GET" class="button">
                <button type="submit" class ="delete">❌</button>
              </form>
            </form>       
          </form>
        <% } %>         
      <% } %>
    </div> 
    
      
  </body>
</html>
